{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block javascript %}
<script src="{% static "cal/js/calendar.js" %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'cal/style.css' %}" />
{% endblock %}
{% block menu-home %}
class="active"
{% endblock %}
{% block content %}

<p class="lead"></p>

<form method="get" action="{% url 'reservations.views.create' %}">
  <div class="coach-select">
    <a href="{% url 'cal.views.calendar' weekdates|first|timedeltaDays:-7  %}">&lt;&lt; Prev</a>
         <script>
        function doAction(coachId){
        var url = window.location.href;
      
        var endIndex = url.lastIndexOf("/");
     
        var url = url.substr(0, endIndex + 1);
   
        window.location = url + coachId;
   
        }
    </script>
        
    <select onchange="doAction(this.value)">
        {% for coach in coaches %}
            <option value="{{coach.pk}}" 
            {% if coach.pk == activeCoach %}
             selected
            {% endif %}
            >{{coach.first_name}} {{coach.last_name}}</option>    
        {% endfor %}
    </select>
    <a href="{% url 'cal.views.calendar' weekdates|first|timedeltaDays:7  %}">Next &gt;&gt;</a>
  </div>
  <table id="calendar">
    <tr>
      <th class="cal-times"></th>
      {% for day in weekdates %}
      <th class="cal-days" id="{{day|date:"l"}}">{{day|date:"l"}}<br>{{day|date:"j F"}}</th>
      {% endfor %}
    </tr>

    {% for hour in hours %}
    <tr>
      <th>{{hour|date:"H:i"}}</th>
      {% for day in weekdates %}
      <td headers="{{day|date:"l"}}" id="{{day|combine_datetime:hour}}"  

      {% if day >= today and day|combine_datetime:hour not in startTimes %}class=" available {% endif %}
      {% for y in reservations %}
      {% if  y.start_time == day|combine_datetime:hour %}class="reserved" rowspan="{{y.reservationLength}}
      {% endif%}
      {% endfor%}     
      ">    
      {% for y in reservations %}
      {% if  y.start_time == day|combine_datetime:hour %}
      reservation id:{{y.id}}
      Coach:{{y.coach.first_name}} {{y.coach.last_name}}
      Customer:{{y.customer.first_name}} {{y.customer.last_name}}
      {% endif %}
      {% endfor%} 

    </td>
    {% endfor %}
  </tr>
  {% endfor %}


</table>

<div id="reservationDetails">
  <input type="hidden" value="" name="startTime">
  <input type="hidden" value="" name="endTime">
  <input type="submit" value="Make reservation">
</div>

</form>
{% endblock %}
