
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

span.tab{
	padding: 0 20px; /* Or desired space*/

}



.slider {
	margin: 0 auto;
	overflow: hidden;

}
ul#tabmenu li.active ul, ul#tabmenu>li:first-child>ul
{
    display:block;
    text-align:left;
}
ul#tabmenu ul li#i1 {margin-left:120px;}
ul#tabmenu ul li#i2 {margin-left:220px;}

