{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>{% block title %}Feel Like App{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  {% block css %}
  {% endblock %}
  <link href="{% static 'bootstrap/css/jumbotron-narrow.css' %}" rel="stylesheet">
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="{% url 'cal.views.calendar' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'customer_list' %}">Customers</a></li>
	<li><a href="{% url 'reservations.views.list' %}">Reservations</a></li>
	<li><a href="#">Products</a></li>	
	<li><a href="{% url 'company_edit' %}">Company Info</a></li>
	<li><a href="{% url 'coach_list' %}">Coaches</a></li>
	<li><a href="{% url 'invoice_list' %}">Invoices</a></li>
        {% endif %}
      </ul>
      <h3 class="text-muted">Feel Like</h3>
      {% if user.is_authenticated %}
      <a href="{% url 'feel_like.views.logout' %}">logout</a>
      {% else %}
      <a href="{% url 'feel_like.views.login' %}">login</a>
      {% endif %}
    </div>
    <div class="jumbotron">
    {% block content %}
    {# content will be here.. #}
    {% endblock %}
    </div>
    <div class="footer">
      <p>&copy; Feel Like 2014</p>
    </div>
  </div> <!-- /container -->
  <script src="{% static "cal/js/jquery/jquery.js" %}"></script>
  {% block javascript %}
  {% endblock %}
</body>
</html>
