/*can be refreenced in django as cal/style.css */


tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

td.reserved{background:red}
td.available:hover{background:#999}


table td {
  background-color:#ccc;
  border:1px solid #fff;
}

table td.highlighted {
  background-color:#999;
}

th {
    text-align: center;
}

.cal-times {
    width: 50px;
}

.cal-days {
    width: 13.6%;
}

.coach-select {
    text-align: center;
    margin-bottom: 10px;
}

#reservationDetails {
    text-align: center;
    margin-top: 20px;
}
