{% extends 'base.html' %}
{% load staticfiles %}
{% block menu-customers %}
class="active"
{% endblock %}
{% block content %}
<ul>
	{% for customer in customers %}
	<li>{{ customer.last_name }}, {{ customer.first_name}}
		<a href="{% url 'customer_edit' customer.id %}" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a href="{% url 'customer_delete' customer.id %}" class="btn btn-default delete">
			<span class="glyphicon glyphicon-trash"></span>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/customer_list.js' %}">
</script>
{% endblock %}
