{% extends 'base.html' %}
{% load staticfiles %}
{% block menu-invoices %}
class="active"
{% endblock %}
{% block content %}
<ul>
    {% for invoice in invoices %}
    <li>INVOICE #{{ invoice.ref_number }}, {{ invoice.date|date:"d-m-Y" }} 
    {% if invoice.due_date %}
    (due: {{ invoice.due_date|date:"d-m-Y"}})
    {% endif %}
        <a href="{% url 'invoice_print' invoice.id %}" class="btn btn-default">
            <span class="glyphicon glyphicon-print"></span>
        </a>
        <a href="{% url 'invoice_delete' invoice.id %}" class="btn btn-default delete">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/invoice_delete.js' %}">
</script>
{% endblock %}
