<!DOCTYPE html>
<html>
<head><title>List of Reservations</title></head>

<body>

<h1>List of Reservations</h1>

<h2>All</h2>

<ul>
	{% for r in reservations %}
		<li>
            {{ r.start_time }} to {{ r.end_time }}<br>
            Customer: {{ r.customer }}<br>
            Coach: {{ r.coach }}<br>
            Product: {{ r.product }}<br>
            Location: {{ r.location }}<br>
            Participants: {{ r.participants }}
        </li>
	{% endfor %}
</ul>

<h2>Invoiced</h2>

<ul>
	{% for r in res_inv %}
		<li>
            {{ r.reservation.start_time }} to {{ r.reservation.end_time }}<br>
            Customer: {{ r.reservation.customer }}<br>
            Coach: {{ r.reservation.coach }}<br>
            Product: {{ r.reservation.product }}<br>
            Location: {{ r.reservation.location }}<br>
            Participants: {{ r.reservation.participants }}<br>
            <strong>Invoice {{ r.invoice.id }} dated {{ r.invoice.date }}</strong>
        </li>
	{% endfor %}
</ul>

<h2>Not Invoiced</h2>

<ul>
	{% for r in not_invoiced %}
		<li>
            {{ r.start_time }} to {{ r.end_time }}<br>
            Customer: {{ r.customer }}<br>
            Coach: {{ r.coach }}<br>
            Product: {{ r.product }}<br>
            Location: {{ r.location }}<br>
            Participants: {{ r.participants }}
        </li>
	{% endfor %}
</ul>

<!-- WTF does this do? -->
{{ content }}

</body>
</html>
