{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
<p>
    <a href="#" class="toggle" onclick="showAll(); return false">All</a> | <a href="#" class="toggle" onclick="showInvoiced(); return false">Invoiced</a> | <a href="#" class="toggle" onclick="showNotInvoiced(); return false">Not Invoiced</a> <!-- | <a href="{% url 'reservations.views.create' %}">New Reservation</a> -->
</p>

<div id="all">
    <h2>All</h2>

    <ul>
	    {% for r in all %}
		    <li class="text-left">
                {{ r.start_time }} to {{ r.end_time }}<br>
                Customer: {{ r.customer }}<br>
                Coach: {{ r.coach }}<br>
                Product: {{ r.product }}<br>
                Location: {{ r.location }}<br>
                Participants: {{ r.participants }}<br>
                {% if r.invoice.id %}
                    <strong>Invoice {{ r.invoice.id }} dated {{ r.invoice.date }}</strong>
                {% else %}
                    <a href="{% url 'reservations.views.edit' r.id %}">Edit</a> |
                    <a href="{% url 'reservations.views.delete' r.id %}" onclick="return (confirm('Really delete?'))">Delete</a>
                {% endif %}
            </li>
	    {% endfor %}
    </ul>
</div>

<div id="invoiced">
    <h2>Invoiced</h2>

    <ul>
	    {% for r in invoiced %}
		        <li class="text-left">
                    {{ r.start_time }} to {{ r.end_time }}<br>
                    Customer: {{ r.customer }}<br>
                    Coach: {{ r.coach }}<br>
                    Product: {{ r.product }}<br>
                    Location: {{ r.location }}<br>
                    Participants: {{ r.participants }}<br>
                    <strong>Invoice {{ r.invoice.id }} dated {{ r.invoice.date }}</strong>
                </li>
	    {% endfor %}
    </ul>
</div>

<div id="not_invoiced">
    <h2>Not Invoiced</h2>

    <ul>
	    {% for r in not_invoiced %}
		        <li class="text-left">
                    {{ r.start_time }} to {{ r.end_time }}<br>
                    Customer: {{ r.customer }}<br>
                    Coach: {{ r.coach }}<br>
                    Product: {{ r.product }}<br>
                    Location: {{ r.location }}<br>
                    Participants: {{ r.participants }}<br>
                    <a href="{% url 'reservations.views.edit' r.id %}">Edit</a> |
                    <a href="{% url 'reservations.views.delete' r.id %}" onclick="return (confirm('Really delete?'))">Delete</a> |
                    <a href="{% url 'invoice_create' %}?customer={{ r.customer.id }}&reservations={{ r.id }}">Create Invoice</a>
                </li>
	    {% endfor %}
    </ul>
    </ul>
</div>

<script type="text/javascript">
    // Not very flexible, but will do.

    function showAll() {
        document.getElementById('all').style.display = 'block';
        document.getElementById('invoiced').style.display = 'none';
        document.getElementById('not_invoiced').style.display = 'none';
    }

    function showInvoiced() {
        document.getElementById('all').style.display = 'none';
        document.getElementById('invoiced').style.display = 'block';
        document.getElementById('not_invoiced').style.display = 'none';
    }

    function showNotInvoiced() {
        document.getElementById('all').style.display = 'none';
        document.getElementById('invoiced').style.display = 'none';
        document.getElementById('not_invoiced').style.display = 'block';
    }

    showAll();
</script>
{% endblock %}
