<!DOCTYPE html>
<html>
<head><title>List of Reservations</title></head>

<body>

<h1>List of Reservations</h1>

<a href="{% url 'reservations.views.create' %}">New Reservation</a>

<p>
    <a href="#" class="toggle" onclick="showAll(); return false">All</a> | <a href="#" class="toggle" onclick="showInvoiced(); return false">Invoiced</a> | <a href="#" class="toggle" onclick="showNotInvoiced(); return false">Not Invoiced</a>
</p>

<div style="border: 1px solid red; display: inline-block">
    This should be restyled somehow, like making the current selection bold or different color or unclickable.<br>
    The JS delete confirmation also sucks, but I don't know if we have the time for a nicer one, like the last time.
</div>

<div id="all">
    <h2>All</h2>

    <ul>
	    {% for r in res_inv %}
		    <li>
                {{ r.reservation.start_time }} to {{ r.reservation.end_time }}<br>
                Customer: {{ r.reservation.customer }}<br>
                Coach: {{ r.reservation.coach }}<br>
                Product: {{ r.reservation.product }}<br>
                Location: {{ r.reservation.location }}<br>
                Participants: {{ r.reservation.participants }}<br>
                {% if r.invoice.id %}
                    <strong>Invoice {{ r.invoice.id }} dated {{ r.invoice.date }}</strong>
                {% else %}
                    <a href="{% url 'reservations.views.edit' r.reservation.id %}">Edit</a> |
                    <a href="{% url 'reservations.views.delete' r.reservation.id %}">Delete</a>
                {% endif %}
            </li>
	    {% endfor %}
    </ul>
</div>

<div id="invoiced">
    <h2>Invoiced</h2>

    <ul>
	    {% for r in res_inv %}
            {% if r.invoice.id %}
		        <li>
                    {{ r.reservation.start_time }} to {{ r.reservation.end_time }}<br>
                    Customer: {{ r.reservation.customer }}<br>
                    Coach: {{ r.reservation.coach }}<br>
                    Product: {{ r.reservation.product }}<br>
                    Location: {{ r.reservation.location }}<br>
                    Participants: {{ r.reservation.participants }}<br>
                    <strong>Invoice {{ r.invoice.id }} dated {{ r.invoice.date }}</strong>
                </li>
            {% endif %}
	    {% endfor %}
    </ul>
</div>

<div id="not_invoiced">
    <h2>Not Invoiced</h2>

    <ul>
	    {% for r in res_inv %}
            {% if not r.invoice.id %}
		        <li>
                    {{ r.reservation.start_time }} to {{ r.reservation.end_time }}<br>
                    Customer: {{ r.reservation.customer }}<br>
                    Coach: {{ r.reservation.coach }}<br>
                    Product: {{ r.reservation.product }}<br>
                    Location: {{ r.reservation.location }}<br>
                    Participants: {{ r.reservation.participants }}<br>
                    <a href="{% url 'reservations.views.edit' r.reservation.id %}">Edit</a> |
                    <a href="{% url 'reservations.views.delete' r.reservation.id %}" onclick="return (confirm('Really delete?'))">Delete</a>
                </li>
            {% endif %}
	    {% endfor %}
    </ul>
    </ul>
</div>

{{ content }}

<script type="text/javascript">
    // Not very flexible, but will do.

    function showAll() {
        document.getElementById('all').style.display = 'block';
        document.getElementById('invoiced').style.display = 'none';
        document.getElementById('not_invoiced').style.display = 'none';
    }

    function showInvoiced() {
        document.getElementById('all').style.display = 'none';
        document.getElementById('invoiced').style.display = 'block';
        document.getElementById('not_invoiced').style.display = 'none';
    }

    function showNotInvoiced() {
        document.getElementById('all').style.display = 'none';
        document.getElementById('invoiced').style.display = 'none';
        document.getElementById('not_invoiced').style.display = 'block';
    }

    showAll();
</script>

</body>
</html>
